.fullwidth{
  width: 100%
}

.btnforlr {
  display: block;
  margin: auto;
  padding-left: 35%;

}
body {
  background-image: url(https://www.tonymacx86.com/attachments/nstexturedfullscreenbackgroundcolor1920x1080-jpg.13263/);
}